include ../includes/header.pug
include ../includes/top.pug
div#listmenu.w3-container(style="margin: auto; width: 75%")
  .w3-panel.w3-padding-16.w3-white
    h2 Salam, this system communicates with the API for users, smslists, and sending SMS's through an official number
    br 
    a(href="./backend").w3-large.w3-aqua Click here to go Backend
    p.w3-large This system has been built for use by Masjid An-Noor but can be used with any masjid
      br 
      b Created by Zaid Arshad
      br
      br 
      | Features: 
      b SMSLists, create Admin [Full permissions] and mods [SMS Permissions only]
      br
      | Future features: 
      b Weekly jummath time generator, Volunteer signup for Sunday School